[Unit]
Description=yocoin

[Service]
ExecStart=geth --mine --miner.threads 2 --networkid 100823 --gcmode=archive --miner.gasprice=0 --nodiscover --datadir node1 --unlock 0x90e8df0A81AfF4F8E5378427777Ba085394d009c --password nodepassword.txt --allow-insecure-unlock
WorkingDirectory=/etc/yocoin
Restart=always

[Install]
WantedBy=multi-user.target